.events-control {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(121, 177, 250);
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}